body{
	font-family: 'Comfortaa', cursive;
}
div {
    font-family: 'Comfortaa', cursive;
    width:950px;
    height:800px;
    padding:0;
    text-align:center;
    margin:0 auto;
    background-position:top;
    background-repeat:no-repeat;
    background-size: contain; 
}
table{
	border:0px;
	margin:10px ;
	text-align:left;
	padding:0;
	margin:0 auto;
	width:950px;
	font-family: 'Comfortaa', cursive;
	
	
}

input[type="submit"] {
   border: 0 !important;  /*Removes border*/
   -webkit-appearance: none;  /*Removes default chrome and safari style*/
   -moz-appearance: none; /* Removes Default Firefox style*/
        /*background-color: #0088cc url(img/select-arrow.png) no-repeat 90% center;*/
        width: 100px; /*Width of select dropdown to give space for arrow image*/
        height:30px;
	text-indent: 0.01px; /* Removes default arrow from firefox*/
        text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
        color: #000;
        border-radius: 15px;
        padding: 1px;
        box-shadow: inset 0 0 5px rgba(000,000,000, 1);
	background-color:rgba(21,199,238,1); /* colore di sfondo    testo    */
	font-family: 'Comfortaa', cursive;
	font-size:0.8em;
	font-weight: bold;         /* testo in grassetto  */

}
input[type="submit"]:hover{
	background-color: #F3AC25;
}


select {
        border: 0 !important;  /*Removes border*/
        -webkit-appearance: none;  /*Removes default chrome and safari style*/
        -moz-appearance: none; /* Removes Default Firefox style*/
        /*background: #0088cc url(img/select-arrow.png) no-repeat 90% center;*/
        width: 100px; /*Width of select dropdown to give space for arrow image*/
        height:30px;
	      text-indent: 0.01px; /* Removes default arrow from firefox*/
        text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
        background-color:rgba(21,199,238,1); /* colore di sfondo    testo    */
	      color: #000;
        border-radius: 15px;
        padding: 5px;
        box-shadow: inset 0 0 5px rgba(000,000,000, 1);
      	font-family: 'Comfortaa', cursive;
      	font-size:0.8em;
      	font-weight: bold;         /* testo in grassetto  */
    }
select:hover{
	background-color: #F3AC25;
}
#titolo{
  margin: auto;
  text-align: center; 
  width: 300px; 
  font-family: 'Segoe UI'; 
  font-size: 18pt; 
  font-weight: bold; 
  color: rgba(21,199,238,1); 
  background-color: white"  
}
.intestazionetabella{
  font-family: 'Comfortaa'; 
  font-size: 1pt; 
} 
.testotabella{
  font-family: 'Comfortaa'; 
  font-size: 12pt; 
} 
.titolimodifica{
  font-family: 'Comfortaa'; 
  font-size: 14pt; 
  text-align:left;
}

